/* @ Убирает все отступы */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* @ Делает теги HTML5 на странице блочными */
nav,
footer,
header,
aside {
    display: block;
}

:root {
    --color-brand: #4D5AE5;
    --text-color: #434455;
    --text-color-navy: #2E2F42;
    --color-background: #2E2F42;
    --color-background-light: #F4F4FD;
    --text-color-light: #FFFFFF;
    --text-nav-hover: #404BBF;
    --studio-logo-footer: #f4f4fd;
    --studio-logo-header: #2e2f42;
    --filter-buttons-border: #E7E9FC;
    --page-header-border: #e7e9fc;
    --icon-hover-footer: #31D0AA;
    --border-customers: #8E8F99;
    --modal-window: #FCFCFC;

}

body {
    background-color: var(--text-color-light);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



/* ==================Header================== */

.page-header {
    border-bottom: 1px solid var(--page-header-border);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Site-nav */
.main-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.site-nav {
    display: flex;
    gap: 40px;
}

/* Logo */

.web-logo {
    color: var(--color-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
}

.web-logo .studio-logo-header {
    color: var(--studio-logo-header);

}

.link-studio {
    text-decoration: none;
    color: var(--text-color-navy);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .link {
    position: relative;
}

.main-nav .current-page::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--text-nav-hover);
    border-radius: 2px;
    
}

.main-nav .current-page {
    color: var(--text-nav-hover);
}


.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.contact-nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    display: block;
    padding: 24px 0;
}

.link-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    padding: 24px 0;
}

.link-studio:hover,
.link-studio:focus {
    color: var(--text-nav-hover);
}


/****** Mobile Menu Button******/
.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    stroke: var(--navy-blue-color);
    padding: 0;
    line-height: 0;
}


/* Address */
.header-contacts {
    font-style: normal;
}

.contact-nav {
    display: flex;
    gap: 40px;
}

.adress-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item:hover,
.adress-item:focus {
    color: var(--text-nav-hover);
}

/* ==================Mobile Hamburger Menu================== */
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--text-color-light);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu {
    position: relative;
    max-width: 428px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding: 80px 0 40px 40px;
    margin: 0 auto;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-close-btn-icon {
    fill: var(--studio-logo-header);
}

.mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--studio-logo-header);
}

.current-mobile-link {
    color: var(--text-nav-hover);
}

.mobile-address-list {
    margin-bottom: 48px;
}

.mobile-tel-item {
    margin-bottom: 40px;
}

.mobile-tel-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-brand);
}

.mobile-email-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mobile-social-list {
    display: flex;
    max-width: 328px;
    justify-content: space-between;
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-brand);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-social-icon {
    fill: var(--studio-logo-footer);
}



/* Baner */

.baner {
    max-width: 767px;
    background-color: var(--text-color-navy);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
}

.baner-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color-light);
    max-width: 320px;
    margin: 0 auto 72px;
}

.baner-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--color-brand);
    color: var(--text-color-light); 
}


.baner-button:hover,
.baner-button:focus,
.baner-button:active {
    background: var(--text-nav-hover);
}


/* Our advantages */
.section-advantage {
    padding-top: 96px;
    padding-bottom: 96px;
}

.second-list {
    display: flex;
    gap: 72px;
    
}

.list-advantage {
width: 396px;
}

.advantage-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: none;
    margin-bottom: 8px;
    background-color: var(--studio-logo-footer);  
}

.advantage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--text-color-navy);   
}

.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);   
}

/* What are we doing */

.section-what{
    padding-bottom: 120px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    margin-bottom: 72px;
    color: var(--text-color-navy);
}

.whatdoing-list {
    display: flex;
    gap: 24px;
}

.photo {
    width: calc((100% - 48px) / 3);
}

.whatdoing-img {
    border: 1px solid var(--page-header-border);
}

/* Our Team */

.section-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--color-background-light);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    text-transform: capitalize;
    margin-bottom: 72px;   
}

.team-list {
    display: flex;
    gap: 72px;
}


.our-team-card {
    width: 100%;
    background-color: var(--text-color-light);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.name {
    padding: 32px 16px;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: var(--color-background);
}

.our-team-text {

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;

}

.social-item {
    width: 40px;
    height: 40px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: var(--color-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--text-nav-hover);
}

.social {
    fill: var(--color-background-light);
}


/*Customers*/

.customers {
    padding-bottom: 96px;
    padding-top: 96px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    column-gap: 24px;
    list-style: none;
}

.company-item {
    width: calc((100% - 16px) / 2);
    height: 88px;

}

.company-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-customers);
    border-radius: 4px;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon:hover,
.company-icon:focus {
    color: var(--text-nav-hover);
    border-color: #404bbf;
}


/* footer */

.footer {
    padding: 96px 0;
    background-color: var(--color-background);
}

.footer-logo-box {
    max-width: 268px;
}

.logo-footer {
    color: var(--color-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 16px;
}

.studio-logo-footer {
    color: var(--studio-logo-footer);
}
.web-logo .studio-logo-footer {
    color: var(--studio-logo-footer);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background-light);
}

.footer-social-container {
    max-width: 208px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-light);
    margin-bottom: 16px;
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-item {width: 40px;
    height: 40px;}

.social-icon-footer {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: var(--icon-hover-footer);
}

/*--FORM FOOTER*/

.subscribe-cont {
    max-width: 100%;
}

.subscribe-par {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-light);

}

.subscribe-inpt {
    width: 100%;
    height: 40px;
    border: 1px solid var(--text-color-light);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--text-color-light);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-inpt:focus {
    border-color: var(--white-color);
}

.subscribe-inpt:not(:placeholder-shown) {
    border-color: var(--text-color-light);
}

.subscribe-inpt::placeholder {
    color: var(--text-color-light);
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    color: var(--text-color-light);
    background-color: var(--color-brand);
}

.sub-btn-icon {
    margin-left: 16px;
    fill: var(--white-color);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--text-nav-hover);
}

/* modal window*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 408px;
    background: var(--modal-window);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page-header-border);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--text-nav-hover);
    border: none;
    fill: var(--text-color-light);
}

/* Modal form */

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 16px;
    color: var(--color-background)
}

.contact-form {
    margin-bottom: 8px;
}

.modal-form-field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-customers);
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    color: var(--studio-logo-header);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(---studio-logo-header);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus,
.contact-form-input:focus+.modal-form-input-icon {
    outline: none;
    border-color: var(--color-brand);
    fill: var(--color-brand)
}

.comment {
    margin-bottom: 16px;
}

.contact-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: var(--color-brand);
}

.checkbox-cont {
    margin-bottom: 24px;
}

.modal-form-check-desc {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-customers);
}

.privacy-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.modal-form-check:checked+.modal-form-check-desc span {
    background-color: var(--text-nav-hover);
    border: none;
    fill: var(--color-background-light);
}

.privacy-link {
    color: var(--color-brand);
}

.modal-form-btn {
    display: block;
    margin: 0 auto;

    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color-light);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--color-brand);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
background-color: var(--text-nav-hover);
}


/* Portfolio */
.portfolio-section {
    padding: 96px 0 120px;
}

.portfolio-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}

.list-buttons-portfolio {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    list-style: none;
}


.filter-buttons-portfolio {
    background-color: var(--color-background-light);
    color: var(--color-brand);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    border-radius: 4px;
    align-items: center;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 69px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons-portfolio:hover,
.filter-buttons-portfolio:focus {
    color: var(--text-color-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--text-nav-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--text-color-light);
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.portfolio-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color-navy);
    margin-bottom: 8px;
}

.portfolio-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list-portfolio {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-port {
    width: calc((100% - 48px) / 3);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 500ms linear;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--studio-logo-footer);
    background-color: var(--color-brand);
    padding: 40px 32px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--page-header-border);
    border-top: none;
}

.link-port {
    display: block;
    text-decoration: none;
    color: var(--text-color-navy);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link-port:hover,
.link-port:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.link-port:hover .overlay,
.link-port:focus .overlay {
    transform: translate(0, 0);
}


/************ADAPTIVE************/

@media screen and (max-height: 540px) {
    .backdrop {
        overflow-y: auto;
    }

    .modal {
        top: 0;
        transform: translate(-50%, 0);
    }
}

 /************MOBILE AND TABLET************/

@media screen and (max-width: 1157px) {

/* =======Header======= */
    .main-nav {
        gap: 120px;
    }

    .contact-nav {
        flex-direction: column;
        gap: 12px;
    }

    .adress-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }


/* =======Advantages======= */
    .second-list {
    flex-wrap: wrap;}

    .advantage-logo{
    display: none;}

    .advantage-text{
    font-weight: 500;}

/* =======What are we doing======= */
.section-what {
    display: none;
}

/* =======Our team======= */
    .team-list {
        flex-wrap: wrap;}

/* =======Customers======= */
    .customers-list {
        flex-wrap: wrap;
        row-gap: 72px;}

}

/************ONLY for MOBILE************/
@media screen and (max-width: 767px) {

/* =======Header======= */
    .header {
        padding: 24px 0;}
    
    .site-nav {
        display: none;}
        
    .header-contacts {
        display: none;}

/* =======Hero======= */
    .baner-title {
        text-transform: capitalize;}

 /* =======Advantage======= */
    .advantage-title {
        text-align: center;}

 /* =======Our team======= */
    .section-team .container {
        max-width: 294px;
 }

/* =======Customers======= */
.customers-list {
    column-gap: 16px;
}

 /* =======Footer======= */
    .footer-container {
        text-align: center;}

    .footer-text {
        text-align: start;}

    .footer-logo-box {
        margin: 0 auto 72px;}

    .footer-social-container {
        margin: 0 auto 72px;}

    .subscribe-inpt{
        max-width: 398px;
        margin: 0 auto 16px;}

/* =======Modal window======= */
    .modal {
        max-width: 392px;
        width: 90%;
        padding-left: 16px;
        padding-right: 16px;}

 

/*===***PORTFOLIO***===*/
.list-buttons-portfolio {
        flex-wrap: wrap;
        row-gap: 16px;
        max-width: 294px;
    }

.list-portfolio{flex-direction: column;
        row-gap: 48px;
}

}
 
/* =======Mobile Hamburger Menu======= */
@media screen and (max-width: 392px) {
.mobile-tel-link {
         font-size: 26px;}
 }

 @media screen and (max-width: 294px) {
.mobile-tel-link {
        font-size: 20px;}

/*Our team*/
.social-list {
    gap: 8px;
}
}
/************MOBILE************/
@media screen and (min-width: 428px) {
    .container {
        max-width: 767px;}

/* =======Mobile baner (HERO)======= */

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .baner {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/baner-mobile@2x.jpg);}
    }

}


@media screen and (max-width: 392px) {

    /* =======Mobile Hamburger Menu======= */
    .mobile-tel-link {
        font-size: 26px;
    }
}


/************TABLET************/

@media screen and (min-width: 768px) {
    .container {
        max-width: 1157px;}

 /* =======Mobile Hamburger Menu======= */
 .mobile-menu-open-btn {
     display: none;
 }

 .mobile-menu-wrapper {
     display: none;
 }

/*Hero*/
    .baner {
        max-width: 1157px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
        }


@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/baner-tablet@2x.jpg);
    }
}

    .baner-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;}

/* =======Advantages======= */
    .second-list {
        gap: 72px 24px;}

    .list-advantage {
        width: calc((100% - 24px) / 2);
}

 /* =======Our team======= */
    .section-team.container {
        max-width: 582px;}

    .team-list {
        gap: 64px 24px;}

    .our-team-card {
        width: calc((100% - 24px) / 2);}

    .team-img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
/* =======Customers======= */
    .customers .container {
        max-width: 582px;}

    .customers-list {
        column-gap: 24px;}

    .company-item {
        width: calc((100% - 48px) / 3);}


/* =======Footer======= */
    .footer .container {
        max-width: 582px;}

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;}

    .footer-logo-box {
        width: 264px;}

    .subscribe-form {
        display: flex;
        gap: 24px;}

    .subscribe-inpt {
        width: 264px;}



/*===***PORTFOLIO***===*/
.portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }

.list-buttons-portfolio {
        justify-content: center;
        margin-bottom: 64px;
    }

    .filter-buttons-portfolio {
        padding: 12px 24px;
        }
    .list-portfolio {
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .list-port {width: calc((100% - 24px) / 2);}

}
/* ************************DESKTOP************************ */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;}
 
/* ======= Baner (HERO)======= */

    .baner {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);}
}

    .baner-title {
        margin-bottom: 48px;
}

 /* =======Аdvantages======= */
    .section-advantage {
        padding-top: 120px;
        padding-bottom: 120px;}

    .second-list {
        gap: 24px;}

    .list-advantage{
        width: calc((100% - 72px) / 4);}

    .advantage-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;}

/* =======Our team======= */
    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;}

    .section-team.container {
    max-width: 582px;}

    .team-list {
        gap: 24px;}

    .our-team-card {
        width: calc((100% - 72px) / 4);}

/* =======Customers======= */
    .customers .container {
        max-width: 1158px;}

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;}

    .company-item {
        width: calc((100% - 120px) / 6);}

 /* =======Footer======= */
    .footer .container {
        max-width: 1158px;}

    .footer {
        padding: 100px 0;}

    .footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;}

    .footer-logo-box {
        max-width: 264px;
        margin-right: 120px;}

    .footer-social-container {
        margin-right: 80px;}

        
/*===***PORTFOLIO***===*/
.portfolio-sectio{padding-top: 100px;
    padding-bottom: 120px;}

    .list-buttons-portfolio {margin-bottom: 72px;}

    .list-portfolio {row-gap: 48px;}

    .list-port {width: calc((100% - 48px) / 3);}
 }